
/* header */
header{
    height: 200px;
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
}

header .logo{
    width: 20%;
    margin-top: 120px;
}

.main-title h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.main-title h3 {
    color: grey;
    margin-top: 0;
    margin-bottom: 0;
}

.main-title h4 {
    color: grey;
    margin-top: 0;
}
/* /header */

/* main */
h5 {
    margin: 0;
}

.author-link{
    color: #20A9E5;
    text-decoration: none;
}

ul {
    padding-left: 1%;
}


table{
    border-collapse: collapse;
}

table .row1{
    background-color: #20A9E5;
    color: white;
}

table .row2, .row4{
    background-color: #B1E5F2;
}

table .row3{
    background-color: white;
}

.col {
    width: 50%;
}
/* /main */

/* footer */

.footer-img {
    position: relative; 
}

.top-text {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;;
}

/* /footer */